@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: antiquewhite;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    transition: 0.5s;
    z-index: 1000;
}

header.sticky{
    background-color: #1b2141;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  header .logo {
    position: relative;
    color: #751c1c;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 10px;
}

header ul li a {
    color: #751c1c;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

header ul li a:hover {
    font-size:20px;
    border-bottom:solid 3px antiquewhite;
    color: #050e2d;
    transition: 0.5s;
}
header .action .searchBox {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}

header .action .searchBox i {
    font-size: 1.4em;
    margin: 5px;
    color: #222;
}

header .action .searchBox input {
    outline: none;
    border: none;
    font-size: 1em;
    color: #222;
}

.home-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-2vh;
}
.home-container .banner{
    display: inline-flex;
}
.home-container .banner h2{
    margin-top:14vh;
    font-size: 8vh;
}
.home-container .banner h2 span{
    font-family: 'Pacifico', cursive;
    font-style: italic;
    color: rgb(219, 137, 137);
    margin-left:-5vh;
}
.home-container .banner img{
    margin-left:-30vh;
}

.services-container{
    min-height: 100vh;
}
.book-container{
    min-height: 100vh;
}
.about-container{
    min-height: 100vh;
}
.contact-container{
    min-height: 100vh;
}

footer{
    padding: 10px 100px;
}
footer .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .info .logo{
    position: relative;
    color:black;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

footer .info p{
    color:black;
}
footer .info ul{
    margin:10px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
footer .info ul li{
    list-style:none;
    height: 50px;
    width: 50px;
    margin:5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .info ul li:hover{
    background:#d1b514;
    border:none;
    box-shadow: 0 0 10px #d1b514;
}
footer .info ul li a i{
    color:black;
    font-size:1.5em;
}
footer .info ul li:hover a i{
    color:#050e2d;
}

.services-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:5vh;
}
.services-container .card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.services-container .content{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color:#751c1c;
    font-size: 20px;
}
.services-container .card{
    border:transparent;
    width: 350px;
    margin-top:10vh;
    border-radius:30px;
    overflow: hidden;
    box-shadow:5px 5px 15px 5px rgb(187, 164, 135);
}

.services-container .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-shadow:0px 5px 8px 3px rgb(187, 164, 135);
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container .content h4{
    font-size: 50px;
    font-style: italic;
    color:#751c1c;
}
.about-container .content {
    margin-top:10vh;
    height: 480px;
    width: 500px;
}
.about-container img{
    width: 500px;
}
.about-container p{
    margin-top:3vh;
    font-size:20px;
}
.contact-container,.book-container,.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form,.book-form,.login-form{
    width: 400px;
    box-shadow:5px 5px 15px 5px rgb(187, 164, 135);
    border-radius: 20px;
    border:transparent;
}
.contact-form form,.book-form form,.login-form form{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form h1,.book-form h1,.login-form h1{
    margin-bottom:30px;
    margin-top:15px;
    font-style: italic;
}
.contact-form input[type="text"],.book-form input[type="text"],.login-form input[type="email"],.login-form input[type="password"]{
    height: 35px;
    min-width: 250px;
    margin-bottom: 25px;
    border-radius:10px;
    border:transparent;
    padding: 8px;
}
.contact-form textarea{
    height: 120px;
    width: 250px;
    border-radius:10px;
    border:transparent;
    padding: 8px;
    margin-bottom: 15px;
}
.contact-form input[type="submit"], .book-form input[type="submit"],.login-form input[type="submit"]{
    width: 100px;
    height: 45px;
    border-radius:20px;
    font-size: 15px;
    border:transparent;
    box-shadow:5px 5px 15px 5px rgb(187, 164, 135);
}
.contact-form input[type="submit"]:hover, .book-form input[type="submit"]:hover,.login-form input[type="submit"]:hover{
    width: 100px;
    height: 45px;
    border-radius:20px;
    font-size: 15px;
    border:transparent;
    box-shadow:5px 5px 15px 5px rgb(219, 143, 50);
}

.book-form .date-time{
    margin-bottom:20px;
}
.book-form .date-time input{
    border:transparent;
    border-radius:10px;
    padding: 10px;
}
.book-form .date-time input[type="date"]{
    height: 40px;
    width: 200px;
}

.book-form .date-time input[type="time"]{
    height: 40px;
    width: 100px;
}
.login-navbar a{
    color: #751c1c;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.login-navbar a:hover {
    font-size:20px;
    border-bottom:solid 3px antiquewhite;
    color: #050e2d;
    transition: 0.5s;
}
.login-container{
    height: 1000px;
}